body {
    background: url(assets/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 70px;
}

h1 {
    font-size: 50px;
    color: green;
    text-align: center;
}

h2, h3 {
    text-align: center;
}

.row {
    margin-top: 30px;
}

.row a {
    font-size: 30px;
}

.box1, .box2, .box3, .box4 {
    height: 200px;
    background: #33cc66;
}

footer {
    font-size: 20px;
    position: absolute;
    bottom: 0;
}