<ol class="breadcrumb">
    <li><a href="#/page1">Needles/Scaled-like Leaves, or Not?</a></li>
    <li><a href="#/page7">Other</a></li>
    <li><a href="#/page8">Has Pointy Sharp Edges</a></li>
    <li class="active">Length Of Sharp Edged Leaf</li>
</ol>

<h2>Length Of Sharp Edged Leaf</h2>
<h3>Use a ruler to measure the length of the leaf.</h3>
<h3>Is it greater than two inches or less than or equal to two inches?</h3>

<div class="row">
    <div class="col-sm-3">
        <a href="#/page13"><h2>Greater Than 2 Inches</h2></a>
    </div>
    <div class="col-sm-3 col-sm-offset-6">
        <a href="#/page16"><h2>Less Than or Equal to 2 Inches</h2></a>
    </div>
</div>