<h2>Five Senses</h2>
<h3>Lets try classifying what you are looking at in a another way</h3>
<h3>Sometimes using our five senses helps distinguish certain trees</h3>

<div class="row">
    <a class="col-sm-2 box1" href = "#/page8"><h3>Has Sharp Pointy Edges</h3></a>

    <a class="col-sm-2 col-sm-offset-1 box2" href = "#/page17"><h3>Fur on Back</h3></a>

    <a class="col-sm-2 col-sm-offset-1 box3" href = "#/page18"><h3>Broken in Half/Aromatic Spice</h3></a>

    <a class="col-sm-2 col-sm-offset-1 box4" href = "#/page19"><h3>None of the Listed</h3></a>
</div>