<ol class="breadcrumb">
	<li><a href="#/page1">Needles/Scaled-like Leaves, or Not?</a></li>
	<li><a href="#/page7">Other</a></li>
	<li><a href="#/page8">Sharp Edges?</a></li>
	<li><a href="#/page9">Has Ridges</a></li>
	<li class="active">Black Oak</li>
</ol>

<h2>Black Oak</h2>

<div class="row">
    <a target="_blank" class="col-sm-3" href = "http://en.wikipedia.org/wiki/Quercus_kelloggii"><img src="assets/List_of_Trees/Black_Oak/number7.jpg" alt="Black Oak"></a>

    <a target="_blank" class="col-sm-3 col-sm-offset-6" href = "http://en.wikipedia.org/wiki/Quercus_kelloggii"><img src="assets/List_of_Trees/Black_Oak/number8.JPG" alt="Black Oak"></a>
</div>