<ol class="breadcrumb">
	<li class="active">Needles/Scaled-like Leaves, or Not?</li>
</ol>

<h2>Needle or Scale-like Leaves</h2>
<h3>Some trees have needles or scale-like leaves on them</h3>
<h3>Click on thumbs-up if you have a scale-like/needle leaf or thumbs-down if you do not</h3>

<div class="row">
    <div class="col-sm-3">
        <a href="#/page2"><img src="assets/thumbsUp.png" alt="Thumbs up"></a>
    </div>
    <div class="col-sm-3 col-sm-offset-6">
        <a href="#/page7"><img src="assets/thumbsDown.png" alt="Thumbs down"></a>
    </div>
</div>