<ol class="breadcrumb">
	<li><a href="#/page1">Needles/Scaled-like Leaves, or Not?</a></li>
	<li><a href="#/page7">Other</a></li>
	<li class="active">Broken In Half/Aromatic Spice</li>
</ol>

<h2>Bay Laurel</h2>
<h3>Smells good right? Some people cook with this</h3>

<div class="row">
    <a target="_blank" class="col-sm-3" href = "http://en.wikipedia.org/wiki/Laurus_nobilis"><img src="assets/new_plant_images/baylaurel1.jpg" alt="Bay Laurel"></a>

    <a target="_blank" class="col-sm-3 col-sm-offset-6" href = "http://en.wikipedia.org/wiki/Laurus_nobilis"><img src="assets/new_plant_images/baylaurel1.jpg" alt="Bay Laurel"></a>
</div>