<ol class="breadcrumb">
	<li><a href="#/page1">Needles/Scaled-like Leaves, or Not?</a></li>
	<li><a href="#/page7">Other</a></li>
	<li><a href="#/page19">None Of The Listed</a></li>
	<li class="active">Leaflet</li>
</ol>

<h2>Length of Leaflet</h2>
<h3>Use a ruler to measure the length of a leaflet</h3>
<h3>Is it less than 1.5 inches,greater than 1.5 inches, or group of 5 leaflets?</h3>

<div class="row">
    <a class="col-sm-3 box" href = "#/page22"><h3>Less than 1.5 Inches</h3></a>

    <a class="col-sm-3 col-sm-offset-1 box" href = "#/page23"><h3>More Than 1.5 Inches</h3></a>

    <a class="col-sm-3 col-sm-offset-1 box" href = "#/page24"><h3>Group Of 5 Leaflets</h3></a>
</div>