<ol class="breadcrumb">
    <li><a href="#/page1">Needles/Scaled-like Leaves, or Not?</a></li>
    <li><a href="#/page7">Other</a></li>
    <li><a href="#/page8">Has Pointy Sharp Edges</a></li>
    <li><a href="#/page12">Length Of Sharp Edged Leaf</a></li>
    <li class="active">Less Than Or Equal To 2 Inches</li>
</ol>

<h2>Blue Elderberry Vs. Blue Blossom</h2>
<h3>Since you have a sharp-edged leaf that is less than or equal to two inches long this narrows it down to two possible trees</h3>
<h3>Take a closer look at your leaves and compare them to the ones on this page and choose the best fit</h3>

<div class="row">
    <a target="_blank" class="col-sm-3" href = "http://en.wikipedia.org/wiki/Sambucus_cerulea"><img src="assets/List_of_Trees/Blue_Elderberry/number13.JPG" alt="Blue Elderberry"></a>

    <a target="_blank" class="col-sm-3 col-sm-offset-6" href = "http://en.wikipedia.org/wiki/Ceanothus_thyrsiflorus"><img src="assets/List_of_Trees/Blue_Blossom_Bloom/number12.jpg" alt="Blue Blossom"></a>
</div>