<ol class="breadcrumb">
	<li><a href="#/page1">Needles/Scaled-like Leaves, or Not?</a></li>
	<li><a href="#/page7">Other</a></li>
	<li><a href="#/page19">None Of The Listed</a></li>
	<li class="active">Leaf</li>
</ol>

<h2>Black Willow Vs. Big Leaf Maple</h2>
<h3>Since none of the five senses matched your leaf this narrows it down to two possible trees</h3>
<h3>Take a closer look at your leaves, compare them to the ones on this page and choose the best fit</h3>

<div class="row">
    <a target="_blank" class="col-sm-3" href = "http://en.wikipedia.org/wiki/Salix_nigra"><img src="assets/List_of_Trees/Black_Willow/number10.jpg" alt="Black Willow"></a>

    <a target="_blank" class="col-sm-3 col-sm-offset-6" href = "http://en.wikipedia.org/wiki/Acer_macrophyllum"><img src="assets/List_of_Trees/Big_Leaf_Maple/number5.JPG" alt="Big Leaf Maple"></a>
</div>