<h2>Grey Pine Vs. Monterey Pine</h2>
<h3>Since the length of your needle is greater than one inch this narrows it down to two possible trees<h3>
<h3>Take a closer look at your leaves, compare them to the ones on this page, and choose the best fit</h3>

<div class="row">
    <!--Image for Grey Pine-->
    <a target="_blank" class="col-sm-3" href = "http://en.wikipedia.org/wiki/Pinus_sabiniana"><img src="assets/new_plant_images/greypine1.jpg" alt="Grey Pine"></a>

    <!--Image for Monterey Pine-->
    <a target="_blank" class="col-sm-3 col-sm-offset-6" href = "http://en.wikipedia.org/wiki/Pinus_radiata"><img src="assets/List_of_Trees/Monterey_Pine/number33.JPG" alt="Monterey Pine"></a>
</div>