<ol class="breadcrumb">
    <li><a href="#/page1">Needles/Scaled-like Leaves, or Not?</a></li>
    <li><a href="#/page7">Other</a></li>
    <li><a href="#/page8">Has Pointy Sharp Edges</a></li>
    <li><a href="#/page12">Length Of Sharp Edged Leaf</a></li>
    <li><a href="#/page13">Greater Than 2 Inches</a></li>
    <li class="active">Leaflet</li>
</ol>

<h2>Coast Live Oak Vs. Christmas Berry</h2>
<h3>Since you have a sharp-edged leaflet that is greater than two inches long this narrows it down to two possible trees</h3>
<h3>Take a closer look at your leaves and compare them to the ones on this page and choose the best fit</h3>

<div class="row">
    <a target="_blank" class="col-sm-3" href = "http://en.wikipedia.org/wiki/Quercus_agrifolia"><img src="assets/List_of_Trees/Coast_Live_Oak/number21.JPG" alt="Black Oak"></a>

    <a target="_blank" class="col-sm-3 col-sm-offset-6" href = "http://en.wikipedia.org/wiki/Heteromeles"><img src="assets/List_of_Trees/Christmas_Berry/number19.jpg" alt="Black Oak"></a>
</div>