<!DOCTYPE html>
<html>
    <head>
        <title>Treedentity</title>
        
        <meta name="designer" content="Michael Campos">
        <link rel="stylesheet" type="text/css" href="mystyles.css">
    </head>
    
    <body>
        <!--This div sets the header and it copied on all pages-->
        <div id="header">
            <h1>Treedentity</h1>
            
            <ul class="navigation">
                <li class="nav_description"><a href="homepage.html">Home</a></li>
                <li class="nav_description" style="position:absolute; right:25px"><a href="http://www.peterson.scusd.net/natureareafall2014.mov">About The Nature Area</a></li>
            </ul>
            <hr/>
        </div>
        
        <!--This is the main body-->
        <h2>Sharp Edges</h2>
        <h3>We are getting one step closer to finding what tree you are looking at!</h3>
        <h3>Lets take a look at the shape of the sharp edged leaf you have. Pick the best fit.</h3>
        
        <center>
            <div id = "wrap">
                <a href = "page9.html">
                    <div class = "left_box">
                        <img src= "images/new_plant_images/box1.jpg" alt="My Image" width="250" height="250">
                        
                    </div>
                </a>
                <a href = "page12.html">
                    <div class = "right_box">
                        <img src= "images/new_plant_images/box2.JPG" alt="My Image" width="250" height="250">
                    </div>
                </a>
            </div>
        </center>
        
        <!--Footer div for credit-->
        <div id="footer">
            <p>Designed by Nishita Battula, Aditi Bellary, Michael Campos, and Tejaswi Sagiraju  --  <a href = "images/class_presentation.pdf">About the project here</a></p>
        </div>
    </body>
</html>