<center>
    <h2>Needle or Scale Like Leaves</h2>
    <h3>Some trees have needles or scale-like leaves on them.</h3>
    <h3>Click on thumbs-up if you have a scale-like/needle leaf or thumbs-down if you do not.</h3>
</center>

<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <a href="#/page2.html"><img src="assets/thumbsUp.png" alt="Thumbs up" width="200" height="200"></a>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
        <a href="#/page7.html"><img src="assets/thumbsDown.png" alt="Thumbs down" width="200" height="200"></a>
    </div>
</div>