<h2>Lets Dig Deeper</h2>
<h3>So what you are looking at has ridges but there are two trees that have leaves with ridges</h3>
<h3>Look closely to see if each ridge has a crown like shape with a sharp needle coming out of each edge. Or you might just have ridges with no sharp edges</h3>

<div class="row">
    <div class="col-sm-3">
        <a href="#/page10"><h2>Sharp Crown Like Edges</h2></a>
    </div>
    <div class="col-sm-3 col-sm-offset-6">
        <a href="#/page11"><h2>Ridges With No Sharp Edges</h2></a>
    </div>
</div>