<ol class="breadcrumb">
	<li><a href="#/page1">Needles/Scaled-like Leaves, or Not?</a></li>
	<li><a href="#/page7">Other</a></li>
	<li><a href="#/page19">None Of The Listed</a></li>
	<li><a href="#/page21">Leaflet</a></li>
	<li class="active">Less Than 1.5 Inches</li>
</ol>

<h2>SnowBerry</h2>

<div class="row">
    <a target="_blank" class="col-sm-3" href = "http://en.wikipedia.org/wiki/Symphoricarpos"><img src="assets/List_of_Trees/Snow_berry/number38.JPG" alt="SnowBerry"></a>

    <a target="_blank" class="col-sm-3 col-sm-offset-6" href = "http://en.wikipedia.org/wiki/Symphoricarpos"><img src="assets/List_of_Trees/Snow_berry/number39.jpg" alt="SnowBerry"></a>
</div>